{% extends 'base.html' %}
{% block title %}
Все статьи на сайте
{% endblock %}

{% block body %}
<div class="container">
<h1>Статьи на сайте</h1>
    {% if articles | length > 0 %}
        {% for article in articles %}
            {% if article.id % 2 == 0 %}
                <div class="alert alert-warning">
            {% else %}
                <div class="alert alert-info">
            {% endif %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.intro }}</p>
            <p><b>Дата: {{ article.date.date() }}</b></p>
            <a href="/posts/{{ article.id }}">Подробнее</a>
    </div>
        {% endfor %}
    {% else %}
        <p>Нет добавленных статей</p>
    {% endif %}
</div>
    {% endblock %}
</div>